{% extends 'base.html' %}

{% block title %}
История загрузок
{% endblock %}

{% block body %}

{% if files != 0 %}

<div class="container mt-5">
  <h1 >История</h1>
    {% for el in files %}
    <div class="alert alert-info">
        <h2>{{el.filename}}</h2>
        <p2>{{el.filepath}}</p2>
        <p><b>Дата:{{el.date.date()}}</b></p>
        <a href="/show-statistics/{{el.id}}" class="btn btn-warning">Детальнее</a>
    </div>
    {% endfor %}
</div>
{% else %}
Пока нет записей D:
{% endif %}


{% endblock %}