{% extends 'base.html' %}

{% block title %}
Анализ текста
{% endblock %}

{% block body %}

{% if values[0] != 0 %}

    <div class="row mb-2 ml-5 font-size: 14px" >
    <div class="col-md-4">

         <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>Часть предложения</th>
              <th>Количество</th>
              <th>Частота %</th>
            </tr>
          </thead>
          <tbody>
           {% for ind in range(1,7) %}
            <tr>
              <td>{{values[ind]}}</td>
                <td>{{ values[ind] }}</td>
              <td>{{ values[ind]/values[0] * 100 }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
    </div>
        <form method="post">
    <p>
        Выберите
        <select name="role">
        {% for ind in range(7) %}
                {% if cb_values[0] == ind %}
                    <option selected>{{sentence_part[ind]}}</option>
                {% else %}
                    <option >{{sentence_part[ind]}}</option>
                {% endif %}
        {% endfor %}
        </select>

        <label for="word">Слово</label>
        <input type="text" name="word" value={{cb_values[1]}}>

        <input type="submit">
	</p>
    </form>

  </div>
<!--    <section>-->
<!--       <textarea class="textarea-bootstrap-highlight" cols="110" rows="20" placeholder="Вставьте текст..." readonly>-->
<!--           {{text}}-->
<!--       </textarea>-->

<!--    </section>-->
{% endif %}
        <p>{{text | safe}}.</p>

{% endblock %}
