{% extends 'base.html' %}

{% block title %}
Анализ текста
{% endblock %}

{% block body %}

{% if stat !=0 %}

    <div class="row mb-2 ml-5 font-size: 14px" >
    <div class="col-md-4">

         <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>Часть предложения</th>
              <th>Количество</th>
              <th>Частота %</th>
            </tr>
          </thead>
          <tbody>
           {% for ind in range(6) %}
            <tr>
              <td>{{sentence_part[ind]}}</td>
                {% if words_count == 0 %}
              <td>{{ 0 }}</td>
              <td>{{ 0 }}</td>
                 {% else %}
                <td>{{ values[ind] }}</td>
              <td>{{ values[ind]/words_count * 100 }}</td>
                {% endif %}
            </tr>
          {% endfor %}
          </tbody>
        </table>
    </div>
        <form method="post">
    <p>
        Выберите
        <select name="role">
        <option>Все</option>
        {% for ind in range(6) %}
        <option>{{sentence_part[ind]}}</option>
        {% endfor %}
        </select>


	    <label for="word">Слово</label>
	    <input type="text" name="word">


	    <input type="submit">
	</p>
    </form>

  </div>
<!--    <section>-->
<!--       <textarea class="textarea-bootstrap-highlight" cols="110" rows="20" placeholder="Вставьте текст..." readonly>-->
<!--           {{text}}-->
<!--       </textarea>-->

<!--    </section>-->
{% endif %}
        <p>{{text | safe}}.</p>

{% endblock %}
