{% extends 'base.html' %}

{% block title %}
Анализ текста
{% endblock %}

{% block body %}

    <div class="row mb-2 ml-5" >
    <div class="col-md-4">
         <p>
        Выберите
    <select>
  <option>Все</option>
  <option>Подлежащее</option>
  <option>Сказуемое</option>
  <option>Определение</option>
  <option>Дополнение</option>
  <option>Обстоятельство</option>
    </select>
    </p>
         <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>Часть предложения</th>
              <th>Количество</th>
              <th>Частота %</th>
            </tr>
          </thead>
          <tbody>
           {% for key, value in stat.getDict().items() %}
            <tr>
              <td>{{key}}</td>
                {% if stat.getWordsCount() == 0 %}
              <td>{{ 0 }}</td>
              <td>{{ 0 }}</td>
                 {% else %}
                <td>{{ value }}</td>
              <td>{{ value/stat.getWordsCount() * 100 }}</td>
                {% endif %}
            </tr>
          {% endfor %}
          </tbody>
        </table>
    </div>
    <section>
       <textarea class="textarea-bootstrap-highlight" cols="110" rows="20" placeholder="Вставьте текст..." readonly>
           {{stat.getText()}}
       </textarea>

    </section>

  </div>




{% endblock %}
